<div class="container">
  <div class="menu">
      <h1 class="dis-inlineBlock">
        <em>Akuta Same</em>
      </h1>
    <div class="links">
     {{#link-to "todo" class="menu-contact"}}
        Todo
      {{/link-to}}
      {{#link-to "goodreads" class="menu-about"}}
        Goodreads App
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>