<div class="jumbo">
  <h2>Goodreads App</h2>
  <p>
    A simple page to display books written by given author name.
  </p>
  {{input value=searchTerm class="custom-width"}}
  <button type="button" class="btn btn-primary btn-sm"{{action "search"}}>Search</button>
</div>